/* Error: expected "{".
 *    ,
 * 39 | <<<<<<< HEAD:style.scss
 *    |                        ^
 *    '
 *   SCSS/Imports/_museum.scss 39:24  @import
 *   SCSS/style.scss 2:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 39 \2502  <<<<<<< HEAD:style.scss\a    \2502                         ^\a    \2575 \a   SCSS/Imports/_museum.scss 39:24  @import\a   SCSS/style.scss 2:9              root stylesheet';
}
