.card {
  background-color: $limeGreen;
  color: $darkGreen;
  border-radius: 10px;
}

.mainPage{
  padding-bottom: 80px ;
  .card{
    width: 18rem;
  }
  .card-text,
  .button,
  h2 {
    font-size: 1.25em;
  }
  h2 {
    height: auto;
    margin:3%;
  }
  footer{
    .button{
      border-width: 15px;
    }
    border-top: 1px solid $darkGreen;
    background-color: $limeGreen;
    height: 81px;
  }
}

.card-body {
  justify-content: space-between;
}

.dino-img-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  border: 1px solid $darkGreen;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.dino-img-container:after {
  content: "";
  display:block;
  padding-bottom: 100%;
}

.form-group {
  height: 50px;
}

.form-control {
  width: 60% !important;
}

.btn:hover,
.btn:focus{
  color: $yellow;
}

.btn {
  background-color: $red;
  color: #ffffff;
}


