.card {
  background-color: $limeGreen;
  color: $darkGreen;
  border-radius: 10px;
}

.mainPage h2 {
  font-size: 1.25em;
  height: auto;
  margin:3%;
}

.mainPage h1 {
  font-size: calc(23px + 1vw);
}

.card-body {
  justify-content: space-between;
}

.dino-img-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  border: 1px solid $darkGreen;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.dino-img-container:after {
  content: "";
  display:block;
  padding-bottom: 100%;
}

.form-group {
  height: 50px;
}

.form-control {
  width: 60% !important;
}

.btn:hover,
.btn:focus{
  color: $yellow;
}

.btn {
  background-color: $red;
  color: #ffffff;
}


