$darkGreen: #21594e;
$green: #3db14c;
$limeGreen: #d9ed14;
$yellow: #fef97a;
$red: #a31423;

h2 {
  font-size: 22px;
}

.navbar,
.body,
.btn:hover {
  background-color: $darkGreen;
}

.navbar {
  color: $limeGreen;
}

.card {
  background-color: $limeGreen;
  color: $darkGreen;
}
 .btn {
  background-color: $red;
  color: #ffffff;
}

.btn:hover {
  color: #ffffff;
}

.card-body {
  height: 80px;
  justify-content: space-between;
}

//@mixin dino-imgs {
//  @if height > width {
//    height: auto;
//    width: 100%;
//  } @else {
//    height: 100%;
//    width: auto;
//  }
//}

.dino-img {
  height: 100%;
  width: auto;
  //height: auto;
  //width: 100%;
  //@include dino-imgs;
}

.row {
  margin-right: 0;
}

.dino-img-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 1px solid $darkGreen;
}

