$darkGreen: #21594e;
$green: #3db14c;
$limeGreen: #d9ed14;
$yellow: #fef97a;
$paleGreen: #8FA998;
$red: #a31423;
$white: #ffffff;

* {
  font-family: 'Sigmar One', cursive;
}

h2 {
  font-size: calc(22px + 0.3vw);
  height: 60px;
}

.navbar,
body {
  background-color: $darkGreen;
  color: $limeGreen;
}

body {
  background-color: $darkGreen;
  min-height: 100vh;
}

.card {
  background-color: $limeGreen;
  color: $darkGreen;
}

.displayCase {
  font-size: calc(30px +  0.3vw);
  border-radius: 10px;
  background-color: $limeGreen;
  color: $darkGreen;
  p {
    color: $darkGreen;
    }
  .stat {
    text-shadow: 2px 2px $darkGreen, 2px -2px $darkGreen, -2px 2px $darkGreen, -2px -2px $darkGreen;
    color: $white;
  }
}

.button {
  border-width: 30px;
  background: $paleGreen;
  border-color: $darkGreen;
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 1px;
  color: $white;
  text-shadow: 2px 2px $red;
  text-decoration: none;
  margin: 10px;
}

.button:focus{
  box-shadow: 5px 5px 2px $red, -5px -5px 2px $red, 5px -5px 2px $red, -5px 5px 2px $red;
}

.card-body {
  justify-content: space-between;
}

.row {
  margin-right: 0;
}

.dino-img-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 1px solid $darkGreen;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

